@media (max-width: 992px) {
    .ourservice, .content, .section2-parent1, .section2-parent2  {
        width: 100%;
        padding: 0px 20px;
    }
    .section2-parent2 {
        flex-wrap: wrap;
    }
    .section2-parent1-child1, .section2-parent1-child2, .section2-parent1-child3, .section2-parent1-child4, .section2--parent2-child1, .section2-parent2-child2, .section2-parent2-child3, .section2-parent2-child4{
        width: 50%;
    }
    
}

@media (max-width: 767px) {
    .header-right{
        display:none;
    }
    .responsive-menu{
        text-align: end;
        display: block;
        color: white;
    }
    .section2-parent1, .section2-parent2  {
       
        padding: 0px 10px;
    }

    .section2-parent1-child1, .section2-parent1-child2, .section2-parent1-child3, .section2-parent1-child4, .section2--parent2-child1, .section2-parent2-child2, .section2-parent2-child3, .section2-parent2-child4{
        width: 100%;
    }

    .content p {
        font-size: 13px;
    }
    .section4-parent2{
        width: 60%;
    }
    .container{
        
        width: 90%;
    }
    .section6-parent1 p{
        width: 250px;
    }
    .section8-parent1, .section11-parent3-child1{
        width: 100%;
    }
    .section8-parent1-child1-img, .section8-parent1-child1-content, .section8-parent1-child2-img, .section8-parent1-child3-img, .section8-parent1-child4-img, .section8-parent1-child4-img, .section8-parent3{
        width: 100%;
        text-align: center;
    }
    .section8-parent1-child1-content h4{
        text-align: center;
        padding-left: 5px;
    }
    .section8-parent2{
        display: none;
    }
    .section9-parent1-child1, .section11-parent2-child1{
        width: 50%;
    }
    .section10-parent2-child3 img, .section10-parent2-child4 img{
        width: 30%;
    }
    .section15-container{
        width: 80%;
    }
    .section17-parent1{
        width: 50%;
    }
}
@media (max-width: 576px){
    .section4-parent2{
        width: 80%;
    }
    .container{
        width: 80%;
    }
    .section6-parent1{
        margin: 25px auto;
        text-align: center;
        width: 100%;
    }
    .section6-parent1 p{
        width: 100%;
        text-align: center;
    }
    .section6-parent2{
        margin: 25px auto;
    }
    .section7{
        width: 90%;
        margin: 40px auto;
    } 
    .section9-parent1-child1{
        width: 80%;
        margin: 0 auto;
    }
    .section14-parent1, .section14-parent2, .section14-parent3, .meet, .section16-container, .section11-parent1 {
        width: 100%;
    }
    .section13-parent2{
        width: 95%;
    }
    

}
@media (max-width: 320px){
    .banner{
        padding: 0;
    }
    .banner p{
        padding-top: 100px;
    }
    .banner h1{
        padding-top: 15px;
        letter-spacing: 10px;
    }
    .banner a{
        margin-bottom: 20px;
    }
    .section4-parent1{
        width: 70%;
    }
    .section6-parent2{
        margin: 25px 50px;
    }
    .section10{
        height: 600px;
    }
    .section10-parent2-child1{
        width: 50%;
    }
    .section11-parent2-child1{
        width: 100%;
    }
    .section15-parent1{
        width: 100%;
        padding-bottom: 0;
    }
    .section15-parent2{
        width: 100%;
        padding-top: 0;
    }
    .section17-parent1{
        width: 100%;
    }
    .section18-container, .section18-parent1{
        width: 100%;
        text-align: center;
    }
    .section18-parent2{
        width: 80%;
    }
    .title{
        margin-left: 20px;
    }
}
@media (max-width:400px){
    .banner h1{
        position: relative;
        top: 100px;
        left: -100px;
    }
    .banner a{
        position: relative;
        top: 90px;
        left: -28px
    }
    .section6-parent2{
        width: 50%;
    }
    .section10{
        height: 600px;
    }
    .section10-parent2-child1{
        width: 50%;
    }
    .section11-parent2-child1{
        width: 100%;
    }
    .section13-parent1{
        width: 80%;
    }
    .section15-parent1{
        width: 100%;
        padding-bottom: 0;
        text-align: center;
    }
    .section15-parent2{
        width: 100%;
        padding-top: 0;
    }
    .section17-parent1{
        width: 100%;
    }
}


/* 
@media only screen and (max-width:956px) {
    .section1>.content{
        width: 100%;
    }
}
@media only screen and (max-width:478px) {
    .section1>.content>p{
        font-size: 12px;
    }
} */
/* @media only screen and (max-width:870px){
    .section2-parent1-child3-Designs>img{
        max-width:37%;   
    }
    .section2-parent1-child3{
        margin-top: 23px;
    }
} */
/* @media only screen and (max-width:767px){
    .section2-parent1{
        width: 100%;
        display: flex;
    }
    .section2-parent2{
        width: 100%;
        display: flex;
    } 
    .section2-parent1-child1{
        width: 50%;
    }
    .section2-parent1-child2{
        width: 50%;
    }
    .section2-parent1-child3{
        width: 50%;
    }
    .section2-parent1-child4{
        width: 50%;
    }
    
    .section4-parent2{
        width: 75%;
    }
    .section6>.container{
        width: 80%;
    }
    .section2--parent2-child1{
        width: 100%;
    }
    .section2-parent2-child2{
        width: 100%;
    }
    .section2-parent2-child3{
        width: 100%;
    }
    .section2-parent2-child4{
        width: 100%;
    }
} */

    